[Unit]
Description = Redis for application server.

[Service]
ExecStart = /usr/local/bin/redis /isucon9q/app_server/redis/redis.conf

[Install]
WantedBy = multi-user.target
